.vegetable_header {
    background: var(--veg-primary-color);
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 143px;
    transition: all ease .4s
}

body:has(.vegetable_header .navbar_veg--header button[aria-expanded=true]) {
    overflow: hidden
}

.vegetable_header:has(.navbar_veg--header button[aria-expanded=true]) {
    height: 100%
}

.vegetable_header button[aria-expanded=true] .hamburger_menu {
    display: none
}

.vegetable_header .cross_image {
    rotate: 45deg;
    filter: brightness(0);
    display: none
}

.vegetable_header button[aria-expanded=true] .cross_image {
    display: block
}

.vegetable_header button:active,
.vegetable_header button:focus {
    outline: none
}

.vegetable_header .navbar_veg--header {
    background: 0 0;
    padding: 1rem
}

.navbar_veg--header .navbar-brand {
    width: 100px;
    margin-right: 0
}

.veg_navbar--nav .nav-item {
    text-align: center
}

.veg_navbar--nav .nav-link {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #486A1D;
    padding: 10px 0;
    border-bottom: 1px solid var(--black);
    transition: all .5s ease-in-out
}

.veg_navbar--nav .nav-link:hover {
    color: var(--black)
}

.icons_menu--btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px
}

.icons_menu--btns .search_link {
    display: block;
    margin-right: 33px
}

.icons_menu--btns .search_link .icon,
.icons_menu--btns .cart_link .icon {
    display: block;
    color: var(--black);
    font-size: 22px;
    transition: all .5s ease
}

.icons_menu--btns a:hover {
    text-decoration: none
}

.icons_menu--btns .search_link .icon:hover,
.icons_menu--btns .cart_link .icon:hover {
    filter: invert(1)
}

.icons_menu--btns .cart_link {
    position: relative;
    display: block
}

.cart_link .cart_count {
    display: block;
    width: 15px;
    height: 15px;
    background: var(--black);
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: -6px
}

.cart_count span {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: var(--white);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.cart_link:hover .cart_count {
    background-color: var(--white)
}

.cart_link:hover .cart_count span {
    color: #000
}

.vegetable_header:has(.navbar_veg--header button[aria-expanded=true]) {
    overflow: auto
}

.veg_navbar--nav .sub-menu .linked {
    display: flex;
    justify-content: center;
    align-items: center
}

.veg_navbar--nav .sub-menu .linked span {
    font-size: 10px;
    margin-left: 5px
}

.veg_navbar--nav .sub-menu .nav-item {
    display: none
}

.veg_navbar--nav .sub-menu .nav-item.dropdown {
    display: block
}

.veg_navbar--nav .sub-menu .nav-item.dropdown .nav-link {
    border-bottom: none
}

@media(min-width:768px) {
    .navbar_veg--header .navbar-brand {
        width: 100px
    }
}

@media(min-width:992px) {
    .vegetable_header {
        background: 0 0;
        position: relative;
        height: auto
    }

    .veg_navbar--nav .nav-item {
        text-align: left
    }

    .vegetable_header .navbar-collapse {
        justify-content: flex-end;
        align-items: flex-end
    }

    .veg_navbar--nav .nav-link {
        padding: 0 20px !important;
        font-size: 16px
    }

    .veg_navbar--nav .nav-item.active .nav-link {
        color: #000
    }

    .veg_navbar--nav .nav-item:last-child .nav-link {
        padding-right: 33px !important;
        position: relative
    }

    .veg_navbar--nav .nav-item:last-child .nav-link::before {
        content: '';
        position: absolute;
        width: 3px;
        height: 15px;
        background: rgba(255, 255, 255, .2);
        top: 3px;
        left: -5px
    }

    .veg_navbar--nav .nav-link {
        border-bottom: none
    }

    .veg_navbar--nav .sub-menu:hover>ul.nav-item {
        display: block
    }

    .veg_navbar--nav .sub-menu>ul {
        position: absolute;
        width: 156px;
        text-align: left;
        border-radius: 6px;
        background: var(--white);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
        padding: 2px;
        display: none;
        transition: all .5s ease
    }

    .veg_navbar--nav .sub-menu>ul .nav-link {
        color: var(--black);
        border-bottom: 1px solid var(--black);
        padding-top: .85rem !important;
        padding-bottom: .85rem !important;
        padding-left: .5rem !important
    }

    .veg_navbar--nav .nav-item.active .nav-item .nav-link.active,
    .veg_navbar--nav .nav-item.active .nav-item .nav-link:hover,
    .veg_navbar--nav .nav-item .nav-item .nav-link:hover {
        color: var(--white);
        background: #486A1D
    }

    .veg_navbar--nav .sub-menu>ul li:last-child .nav-link {
        border-bottom: none
    }
}

@media(min-width:1200px) {
    .vegetable_header .navbar_veg--header {
        padding-left: 1.5rem;
        padding-right: 2rem
    }

    .veg_navbar--nav .nav-item:nth-of-type(3) .nav-link {
        color: #486A1D
    }

    .veg_navbar--nav .nav-item:nth-of-type(3):hover .nav-link {
        color: #000
    }
}

@media(min-width:1440px) {
    .veg_navbar--nav .nav-item:nth-of-type(2) .nav-link {
        color: #486A1D
    }

    .veg_navbar--nav .nav-item:nth-of-type(2):hover .nav-link {
        color: #000
    }
}

@media(min-width:1536px) {
    .navbar_veg--header .navbar-brand {
        width: auto
    }

    .veg_navbar--nav .nav-link {
        font-size: 18px
    }
}

@media(min-width:1880px) {
    .vegetable_header .navbar_veg--header {
        padding-left: 3.125rem;
        padding-right: 1.5rem
    }

    .veg_navbar--nav .nav-link {
        padding: 0 30px !important
    }

    .veg_navbar--nav .nav-item:last-child .nav-link::before {
        top: 4px
    }
}